@import "../../variables.scss";

.dropdown-toggle::after {
  color: white !important; // to override bootstrap style
}

@media (min-width: $media-burger) {
  nav .dropdown {
    order: 3;
  }
}

@media (max-width: calc($media-burger - 1px)) {
  [data-bs-theme="light"] .offcanvas-body ul li span {
    color: black;

    &:hover {
      color: rgb(87, 87, 87);
    }
  }
}

@media (max-width: $media-sm-1){
    .header-wrapper{
        padding: 8px !important; // to override bootstrap style
    }
}
